body {
  font-family: 'Arial', sans-serif;
  background-image: url('background-image.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-attachment: fixed;
  color: #000000;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  overflow: hidden;
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2); /* Frosted glass effect */
}

h1 {
  text-align: center;
}

.search-link {
  display: block;
  background: #555;
  color: #fff;
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  border-radius: 20px; /* Rounded corners for link */
  width: fit-content;
}

.results-list {
  list-style: none;
  padding: 0;
}

.result-item {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}
.result-thumbnail {
  margin-right: 1rem; /* Add space between image and text */
  width: 100px; /* Fixed width or your preference */
  height: auto; /* Keep aspect ratio */
  border-radius: 5px; /* Optional: if you want rounded corners for thumbnails */
}
.result-content {
  flex: 1; /* Allows the content to fill the remainder of the space */
}

.result-title {
  color: #1a0dab;
  text-decoration: none;
  font-size: 1.1rem; /* Adjust title font size if needed */
}

.result-link {
  color: #006621;
  text-decoration: none;
}

.result-snippet {
  color: #545454;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.search-form {
  width: 100%;
  max-width: 500px;
  display: flex;
}
.search-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px 0 0 5px; /* Rounded corners left side */
  outline: none;
}
.search-button {
  padding: 0.5rem 1rem;
  background-color: #000000;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0; /* Rounded corners right side */
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
}
.search-button:hover {
  background-color: #8a8a8a; /* Darker shade on hover */
}


.image-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.image-item {
  width: 200px; /* Adjust width as needed */
  margin-bottom: 1rem;
  text-align: center;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-title {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}


